body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


$colorGreen : #86df2e;
$colorEcru: #f9fff4;

