.header {
    background: linear-gradient( $colorGreen, #a7f15c);

    &__wrapper {
        max-width: 1000px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__title {
        padding-bottom: 1.5rem;
        word-spacing: 0.2em;
        letter-spacing: 0.1em;
        color: $colorEcru;
        animation: slideInLeft 1.5s ease-out;
    }
    &__form {
        width: 100%;
    }

    &__input {
        height: 2rem;
        max-width: 400px;
        width: 100%;
        border-radius: 20px;
        padding-left: 1rem;
        border: none;
        box-shadow: 0 3px 5px 0 rgba(133, 133, 133, 0.75);
        @include breakpoint(m) {
            max-width: 265px;
        }
        @include breakpoint(xs) {
            max-width: 300px;
        }
    }

    &__select {
        height: 2rem;
        border-radius: 20px;
        border: none;
        box-shadow: 0 3px 5px 0 rgba(133, 133, 133, 0.75);
        @include breakpoint(xs) {
            margin-top: 1rem;
        }
    }

    &__button {
        background-color: $colorEcru;
        color: $colorGreen;
        padding: 0.4rem 0.5rem;
        border-radius: 20px;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 3px 5px 0 rgba(133, 133, 133, 0.75);
        
        &:hover {
            transform: translateY(-2px);
        }  
    }

    &__alert-text {
        color: $colorAlert;
        font-weight: 800;
        padding: 1rem;
    }

    &__alert-box {
        height: 3.5rem;
    }

    &__bookmarks {
        box-sizing: content-box;
        width: 0;
        margin-right: 0.5rem;
        height: 70px;
        border: 50px solid $colorAlert;
        border-top: 0 solid;
        border-bottom: 30px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
    }

    &__bookmarks-link {
        color: $colorEcru;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}