.loader {
    display: none;

    &--is-visible {
        display: initial;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    &__animation {
        color: $colorGreen;
        font-size: 0.7rem;
        margin: 0.8rem auto;
        position: relative;
        text-indent: -9999em;
        transform: translateZ(0);
        animation-delay: -0.16s;
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        animation-fill-mode: both;
        animation: loader 1.8s infinite ease-in-out;

        &:before,
        &:after {
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            animation-fill-mode: both;
            animation: loader 1.8s infinite ease-in-out;
            content: '';
            position: absolute;
            top: 0;
        }

        &:before {
            left: -3.5em;
            animation-delay: -0.32s;
        }

        &:after {
            left: 3.5em;
        }

    }
}
